html {
    background-image: url(../IMG/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.copyright {
	color: rgb(196, 185, 185);
    font-size: 13px;
}

/* #7E4598; */

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}
